<mat-toolbar
  class="bg-linear-to-r from-slate-950 via-slate-900 to-black border-b border-green-500/20 shadow-lg px-6 flex justify-between items-center text-white">

  <!-- Logo -->
  <div class="flex items-center gap-3 text-xl font-bold tracking-wide">
    <img src="/logo.png" alt="logo" class="h-9 w-9 rounded-full ring-2 ring-green-400/60" />
    <span class="text-green-400">RickVerse</span>
  </div>

  <!-- Nav -->
  <nav class="hidden md:flex gap-8 text-gray-300 font-medium">
    <a class="hover:text-green-400 transition" href="#">Characters</a>
    <a class="hover:text-green-400 transition" href="#">Episodes</a>
    <a class="hover:text-green-400 transition" href="#">Locations</a>
  </nav>

</mat-toolbar>
